.profile-boxes {
	box-shadow: 1px 19px 15px 9px rgba(0,0,0,.2);
	background-color:#fff;
	/*opacity:0.6;*/
	filter:alpha(opacity=80);
	color: black;
}
#link {
	color:black;
}
.profile-h1 {
	font-family:OpenSans;
	font-size: 26px;
}
.profile-h2 {
	font-family:arial;
	font-size: 17px;
}
#link:hover{
	color:brown;
}
#link:active{
	color:green;
}
